/*howtoplay page*/
.rules-container{
    background:#FFFFE0;
    width: 50%;
    height: 640px;
    margin:50px auto; 
    padding:20px;
}

#tutorials{
    padding:10px;
    line-height: 1.1cm;
}

/*Style url links*/
#tutorials a, .welcome a, a.redirectLink { 
    color:#FF8C00;
}

#tutorials a:hover, .welcome a:hover, a.redirectLink:hover{
    text-decoration: none;
}

ol li{
    font-weight: bold;
}

@media only screen and (max-width: 967px) {
   .rules-container{
    width: 100%;
    margin: 0 8px;
   }
}
